# Extract, Transform, and Load (ETL) Lockbit data

The goal of this repository is to transform the Lockbit leaked data in a way that is usable and meaninful to use.

In [1]:
original_url = 'lockbitapyx2kr5b7ma7qn6ziwqgbrij2czhcbojuxmgnwpkgv2yx2yd.onion'
filepath = 'paneldb_dump.zip'

In [2]:
# !pip install pyarrow

In [3]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

## 1. Function to un-compress a file into a folder

In [4]:
import zipfile
import tarfile
import gzip
import bz2
import os

def uncompress_file(filepath, output_dir=None):
    if not output_dir:
        output_dir = os.path.splitext(filepath)[0]  # default: same name, no extension
    os.makedirs(output_dir, exist_ok=True)

    output_path = None  # Will store the final path where content is extracted

    if filepath.endswith('.zip'):
        with zipfile.ZipFile(filepath, 'r') as zf:
            zf.extractall(output_dir)
        output_path = output_dir

    elif filepath.endswith(('.tar', '.tar.gz', '.tgz', '.tar.bz2', '.tbz2')):
        with tarfile.open(filepath, 'r:*') as tf:
            tf.extractall(output_dir)
        output_path = output_dir

    elif filepath.endswith('.gz') and not filepath.endswith('.tar.gz'):
        with gzip.open(filepath, 'rb') as f_in:
            out_path = os.path.join(output_dir, os.path.basename(filepath[:-3]))
            with open(out_path, 'wb') as f_out:
                f_out.write(f_in.read())
            output_path = out_path

    elif filepath.endswith('.bz2') and not filepath.endswith('.tar.bz2'):
        with bz2.open(filepath, 'rb') as f_in:
            out_path = os.path.join(output_dir, os.path.basename(filepath[:-4]))
            with open(out_path, 'wb') as f_out:
                f_out.write(f_in.read())
            output_path = out_path

    else:
        print(f"Unsupported file type: {filepath}")
        return

    print(f"Uncompressed '{filepath}' to: {os.path.abspath(output_path)}")

Testing:

In [5]:
uncompress_file(filepath)

Uncompressed 'paneldb_dump.zip' to: /mnt/c/Users/j.santanna/Desktop/lockbit_leak/paneldb_dump

## 2. Getting an overview of the data

In [6]:
import os

def list_files_with_size_and_lines(root_folder):
    file_info_list = []

    for dirpath, _, filenames in os.walk(root_folder):
        for filename in filenames:
            filepath = os.path.join(dirpath, filename)
            try:
                size_bytes = os.path.getsize(filepath)
                size_kb = round(size_bytes / 1024, 2)

                # Try reading as text to count lines
                try:
                    with open(filepath, 'r', encoding='utf-8') as f:
                        line_count = sum(1 for _ in f)
                except Exception:
                    line_count = 'N/A'

                # Extract file extension
                _, extension = os.path.splitext(filename)
                extension = extension.lower() if extension else 'N/A'

                file_info_list.append({
                    'path': dirpath,
                    'file_name': filename,
                    'extension': extension,
                    'size_kb': size_kb,
                    'lines': line_count
                })

            except Exception as e:
                print(f"⚠️ Error reading file '{filepath}': {e}")

    return file_info_list

Applying:

In [7]:
data_path = '/mnt/c/Users/j.santanna/Desktop/lockbit_leak/paneldb_dump'

import pandas as pd
df_data_overview = pd.DataFrame(list_files_with_size_and_lines(data_path))
df_data_overview

,path,file_name,extension,size_kb,lines
0,/mnt/c/Users/j.santanna/Desktop/lockbit_leak/paneldb_dump,paneldb_dump.sql,.sql,26977.4,114055

## Parsing this .sql file

In [10]:
filepath = 'paneldb_dump/paneldb_dump.sql'

In [12]:
import re
import json
import os
import pandas as pd

# Extract table names
with open(filepath, "r", encoding="utf-8") as f:
    sql_text = f.read()

pattern = r'CREATE TABLE\s+[`"]?(\w+)[`"]?\s*\('
table_list = re.findall(pattern, sql_text, re.IGNORECASE)

# Extract tables and columns
with open(filepath, "r", encoding="utf-8") as f:
    sql_text = f.read()

sql_text = re.sub(r'/\*.*?\*/', '', sql_text, flags=re.DOTALL)
sql_text = re.sub(r'--.*?$', '', sql_text, flags=re.MULTILINE)

table_pattern = re.compile(
    r'CREATE TABLE\s+[`"]?(\w+)[`"]?\s*\((.*?)\)\s*(?:ENGINE|COMMENT|CHARSET|ROW_FORMAT|;)',
    re.DOTALL | re.IGNORECASE
)

tables_columns_list = {}

for table_name, column_block in table_pattern.findall(sql_text):
    columns = []
    col_defs = []
    parens = 0
    current = ''
    for char in column_block:
        if char == '(':
            parens += 1
        elif char == ')':
            parens -= 1
        if char == ',' and parens == 0:
            col_defs.append(current.strip())
            current = ''
        else:
            current += char
    if current.strip():
        col_defs.append(current.strip())
    for col_def in col_defs:
        if re.match(r'^(PRIMARY|UNIQUE|KEY|CONSTRAINT|FOREIGN)', col_def.strip(), re.IGNORECASE):
            continue
        match = re.match(r'[`"]?(\w+)[`"]?\s+[a-zA-Z]', col_def)
        if match:
            columns.append(match.group(1))
    tables_columns_list[table_name] = columns

# Parse inserts
dataframes_manual = {}

for table in table_list:
    target_table = table

    raw_builds_blocks = []
    lines = sql_text.splitlines()
    current_block = []
    collecting = False

    for i, line in enumerate(lines):
        normalized = line.replace(" ", "").lower()
        if "insertinto" in normalized and target_table in normalized:
            if collecting and current_block:
                raw_builds_blocks.append("\n".join(current_block))
            current_block = [line]
            collecting = True
        elif collecting:
            current_block.append(line)
            if line.strip().endswith(";"):
                raw_builds_blocks.append("\n".join(current_block))
                current_block = []
                collecting = False

    if collecting and current_block:
        raw_builds_blocks.append("\n".join(current_block))

    all_builds_rows = []
    for block in raw_builds_blocks:
        value_start = block.find("VALUES")
        if value_start != -1:
            values_chunk = block[value_start + len("VALUES"):].strip().rstrip(";")

            value_block = values_chunk
            value_block = re.sub(r'^.*?VALUES\s*', '', value_block.strip(), flags=re.IGNORECASE).rstrip(';')
            rows = []
            current = ''
            level = 0
            in_quote = False
            escape = False
            for char in value_block:
                if escape:
                    current += char
                    escape = False
                elif char == '\\':
                    current += char
                    escape = True
                elif char == "'":
                    current += char
                    in_quote = not in_quote
                elif char == '(' and not in_quote:
                    if level == 0:
                        current = ''
                    level += 1
                    current += char
                elif char == ')' and not in_quote:
                    level -= 1
                    current += char
                    if level == 0:
                        rows.append(current.strip())
                else:
                    current += char

            for row_str in rows:
                row_str = row_str.strip()[1:-1]
                fields = []
                current = ''
                in_quote = False
                escape = False
                for char in row_str:
                    if escape:
                        current += char
                        escape = False
                    elif char == '\\':
                        current += char
                        escape = True
                    elif char == "'":
                        current += char
                        in_quote = not in_quote
                    elif char == ',' and not in_quote:
                        fields.append(current.strip())
                        current = ''
                    else:
                        current += char
                fields.append(current.strip())

                def clean(val):
                    if val == 'NULL':
                        return None
                    if val.startswith("'") and val.endswith("'"):
                        raw = val[1:-1].replace("\\'", "'").replace('\\"', '"').replace('\\\\', '\\')
                        try:
                            return json.loads(raw)
                        except:
                            return raw
                    return val

                all_builds_rows.append(tuple(clean(f) for f in fields))

    columns = tables_columns_list.get(target_table)
    
    valid_rows = [row for row in all_builds_rows if len(row) == len(columns)]
    if columns and valid_rows:
        df_builds = pd.DataFrame(valid_rows, columns=columns)
    else:
        df_builds = pd.DataFrame(all_builds_rows)

    dataframes_manual[target_table] = df_builds

# Export DataFrames
os.makedirs("raw_parquet", exist_ok=True)

summary_tables_records = []

for name, df in dataframes_manual.items():
    globals()[f'df_{name}'] = df

    for col in df.select_dtypes(include=["object"]).columns:
        try:
            df[col] = df[col].astype("string[pyarrow]")
        except Exception:
            df[col] = df[col].astype(str)

    try:
        parquet_path = f"raw_parquet/df_{name}.parquet"
        df.to_parquet(parquet_path, index=False)
        print(f"Exported df_{name} with {len(df)} records")
        display(df.head(2))
        display(df.tail(2))
        summary_tables_records.append([f'df_{name}', len(df)])
    except Exception as e:
        print(f"Could not export df_{name}: {e}")
        summary_tables_records.append([f'df_{name}', f"ERROR: {e}"])

Exported df_api_history with 0 records

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Exported df_btc_addresses with 59975 records

  id type target_id advid                                     address
0  3   25        24    10  bc1q5979ns9zrhtq8j2znkf59ldmd4nxc4hamuq8ut
1  4   25        44    27  bc1qj4wvkmggfdpa60tk7ag75zd4yjr77zqa0r69yq

          id type target_id advid                                     address
59973  59999   46         0     0  bc1q7ptyn9cg67df5c0lxg2hyv4ccxumyfgzdtdrhu
59974  60000   46         0     0  bc1qaafqztd9gkw8jgpd7vhpwlgtfpdmypugddzqz5

Exported df_builds with 1183 records

,id,parent_id,status,decription_id,userid,stealerid,comment,master_pubkey,master_privkey,date,company_website,revenue,type,max_file_size,delete_decryptor,created_at,key_id,crypted_website
0,1,0,1,E26CE2BB152D23E4,3,,Hello,"constexpr extern ""C"" unsigned char m_publ[32] = {0xa1, 0x5f, 0x3f, 0xd1, 0xdd, 0x5c, 0x75, 0x87, 0xc2, 0xbf, 0xfb, 0x08, 0xf2, 0x25, 0x1c, 0xc1, 0x60, 0x28, 0x31, 0x27, 0x4c, 0x43, 0x6b, 0x44, 0x89, 0x5a, 0x75, 0xf8, 0xe8, 0x83, 0x92, 0x4b};",<NA>,1734552323,example.com,10kk,25,NaN,1,2024-12-18 20:05:23,1,DxIu+JcEwa2zud4ocFVtULUMtc2JDoRgtDQyMiCf0iUL6C0ey6Cahewi6fQgvvPGre9SoGI80SfqyEmQyC/igp+h1lkrsTQ1hVeKguIS1xc9yAwY0ePd8BOu9MzM22mHqPjv9afSD8penwdRk77xUEykMYIXY0+xzcLdl/QrGbPffw3OVDo6KGEPc58sKlsDLwWxMpgE+e1NzK7F3oJ28Iq0ZBCm1ULqossBWtK6/gsOZMmAaz7n6B/nxKvA2CvnEw47cdWGkvxZ8sm0hbJvJTdGD0oVtj8UChVRQpITUK7XsA70jWi0klkbzR2Srvfzh+45nbcMoOMbbLsFnGZb5Nyy56KNztcBbhe+mBdwfMdS1L3D0J3V+IgIhtjca1JtpQSFF+A3bT+AV0APTnFj3ZRpnMxCnpIPG8EUR0tL0IQ0lN21FXHEiV/bAdwzqX5MpIapT/CuTRhpFg7en+DObL8IvFLHNYjkCiRtSKqdm1U1lTFigxZwxYJx6TO3a7fs/7sQJHgryiO7CfDbulXul9z+EBkRSs5ojfeAU/stpgBDgX3TnGbuhBWBGKZ4zeCA5E7L5DSYoEcejdKLJkZxHk238EbVJ/f5yqnAX7qnmondZFMeZs0qfsVsaYAxesynRWzRKydiiQeGpso1Ih33FQxpwzgb+kVUdiSv10WeJgI=
1,2,0,1,7C0CFD5FED7419ED,1,,qwe,"constexpr extern ""C"" unsigned char m_publ[32] = {0x6e, 0x6d, 0xc0, 0xe4, 0xb8, 0xbf, 0x6d, 0xf9, 0x33, 0x0d, 0x9e, 0x83, 0x69, 0xbd, 0x1c, 0xb3, 0xbc, 0x1b, 0x29, 0xfe, 0xd1, 0x8a, 0x85, 0x6b, 0x7b, 0xea, 0x7c, 0xee, 0x79, 0xd1, 0xdb, 0x68};",<NA>,1734552620,qwe.com,123kk,25,NaN,1,2024-12-18 20:10:20,2,Cq3SpsXpd9Kc9CjFNh2iNU1OrF3gOOM+uM/6Ai9gEM0vUcXrI+xyf12DplHTlJ8CNNHOnJgbikhwLYrlvxv3fEkK1hO35QHmU+qtcZVVRtQtuFkUBkg9TpWGNmG5kel7qUayg1u/OS1g+Ct+AaFr4wPuPfR+8VYf5vEiVIFtCiXQHUoBmID/2B10DXgpy9Gy5IoH6PzwlYLHRIJTjfQ2M5IrqG3v3syShUqeLZFETyYou11/mtsTd9GRMcAthGORatJHm8oGUDxE0AA0mvOjPEqypBNsCErcr6QOtQzJVic0iYdhqCa64Tm0Coy3tSw6HzuglHR+6cnC6mor3YGrA6UsdSJLBcMWrx5GDoFHlpK2ad+STfhLb4Mn9dslpfxY6iaNfAYuRugGclLM7stnHDGR3AFg9elSu6geyxSBuabm5za4I6/pfs/inKRTByiG2+SCIREvSiPixCS9ACz0RovvJCr31k3naMB7LmOWChg1Gbz5JYyrvf+X3hzJNTBSLlCNBQgiqacOwzFgKXMVN8FOOXKY0vfqO3w18VlbHfX9QXSi2BsonMnXUKZmpFuTJNYtH7AUwpbEmOqEdQxwbVosQIx/vLHhp59Z4yhUzwami97QdxFsQElAfGwjmKQl0UT/4zfJ3Tcc60pvK/3yKeRkgoyyoDFESxe1MFOSnqE=

,id,parent_id,status,decription_id,userid,stealerid,comment,master_pubkey,master_privkey,date,company_website,revenue,type,max_file_size,delete_decryptor,created_at,key_id,crypted_website
1181,1182,0,1,3D6BC7D9FD38F3CB,69,,hz,"constexpr extern ""C"" unsigned char m_publ[32] = {0x02, 0xca, 0xc3, 0xbe, 0xe6, 0xf1, 0xa5, 0xaf, 0xc9, 0x56, 0xda, 0x1f, 0xd1, 0x90, 0x8f, 0x26, 0x48, 0x23, 0xd3, 0x65, 0x6e, 0xbd, 0x4f, 0xde, 0x69, 0x65, 0x00, 0xae, 0x0e, 0xa5, 0xeb, 0x03};",<NA>,1745862598,arc-com.com,11kk,25,NaN,1,2025-04-28 17:49:58,297,FtTd/xQeXxVWDHibc5wvBeK2wIdKzX9Q/nlAq3z7sPdelWggZ+Y4LAXrEuCOe4o/xkwCSZ9VZsFX5yReiPpyl2U+zV+y9jOQy7H1OBI8L9tWvIbd4ms10lTp7iZPju1Zm2ekOXw/Pp2XYjzNwowvVbmuSvW5UFHBrf+BaU42N/dTk+2Ax29Cko3x9Ht8//HdWb2FNUApqmZDfSg+S+aKcFhrXSpIuSfKqj00J6vYOdbiLT7UAqURWYgEMpBNDATZhqIkM2qYBkHjVCk7H6LsGZBlwR0uhUluBqEA9DlVu/87v38GXMJXrF7MnT9be9e1HBvYG64tHjXQVYOEK6aKfnXLVRzcaEtOlGSprAKyS56AYybPLJvpQrfYsAAjgsZWIcFuOLH0vGvXgvM2k//N+UDWsCDfqooy/QetW7lzLKGEn6Ykc5NED8k6LtUiCPmJtvSd8GkCPJv4Ayc5sKgRsVb+xQ95viVPNE+XbdluySlufCa6yQ8AA/WjcJo3W16MikdWs8xIYHh1t30ryA0TPitOy09z7S+BYMHpbzzUESSUE3sYKMVggzN+HAt+tBQ1slpEQehysWXkgkKtCiGIJz9m6zNftFW8rM7LR5kq5rmUUcPKhEdelJlJt3DAq33ZExpSM4Jiy7KY/Wa2QCw7o61eeHwO+CGiHuHku9CPuDA=
1182,1183,0,1,1D7BA2E55D637843,69,,hz,AQABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAde6LlXWN4Q/wiIW6HWCrLZGYKWJRoeRtQ8mHMlgTw/M0b0PLF8WW7t6P1MT9eEfpnFmLL7bJuEPcvQaKEPFjQRMLI0mUC7ZgqaPToh2UtWBV7yYhV2RB86wgpf5tWluLS+AhXt2upnfgxouAi0sNn6bQxPg8AMjfOXAmplGCgbQ==,<NA>,1745862644,arc-com.com,11kk,30,NaN,1,2025-04-28 17:50:44,10504,IM5cRgg75iZQylIXU9laprVIpD4K9QdOu/BTDeaPS0v5N3ErrbAtau41mFXw7HXNXoSdooI91Vm2Di5B494etelVZHvkll23K4aMyQo+o1Kxu+q8sWy/ONG7oVMxOvf39FkqJGEb75L73yx1Gjn7JGmgIa4yC4rATweaG+cXurp4gWDAag8fIhHRMxRumZR4SvwoIkfnM/Q4VZ0S8/ybBLVLKa9CS3ALW8eqt13FCjmbFArjNme9An2dnpQMK11A9L90tDLCOyiXJwVCIYyo78ywrAyikKz6Gxl0nJuEY54q0nQSIbc6BVe1Z74z7jNfBmSKArdb0mGtOwTt8r2j+4wXXaDotGilKqbYm6Kpo1l4K6g2KfveT88Bu+yB7ozKQsnV4Jfkf9wsmHRYBk6/CXWvhXH+3LuDYWQ3HlcN+LTu9QFyvTp+YeeOYHS0rIBnQbqv4IhAopT05CtaE/gZrbSH5F4ixoMTDPtwHwYErXUJzFS8hE65z6XeGMzzn4GUHV1zn1PVdQ6eSsLPSoe788T2TQ6vpAmRRn5oOtPRKApNiqgueS3/y5VsmyW3nu5tvyBc/Y/1Y0o9bkpp2UJut2gTMYcjiJu7liSjiDxHvdXtCiZaTGLKaoLTemUrU7Hwt4M9/8Y7ZC4yAflJ43U/F0O0PxW+bUu8h58a1d5Jy90=

Exported df_builds_configurations with 1183 records

,id,build_id,build_type,config,created_at,updated_at
0,1,1,25,"{'buildModel': {'id': '1', 'parent_id': 0, 'status': None, 'decription_id': None, 'userid': 3, 'stealerid': None, 'key_id': 0, 'comment': 'Hello', 'master_pubkey': None, 'master_privkey': None, 'date': 1734552323, 'company_website': 'example.com', 'crypted_website': 'DxIu+JcEwa2zud4ocFVtULUMtc2JDoRgtDQyMiCf0iUL6C0ey6Cahewi6fQgvvPGre9SoGI80SfqyEmQyC/igp+h1lkrsTQ1hVeKguIS1xc9yAwY0ePd8BOu9MzM22mHqPjv9afSD8penwdRk77xUEykMYIXY0+xzcLdl/QrGbPffw3OVDo6KGEPc58sKlsDLwWxMpgE+e1NzK7F3oJ28Iq0ZBCm1ULqossBWtK6/gsOZMmAaz7n6B/nxKvA2CvnEw47cdWGkvxZ8sm0hbJvJTdGD0oVtj8UChVRQpITUK7XsA70jWi0klkbzR2Srvfzh+45nbcMoOMbbLsFnGZb5Nyy56KNztcBbhe+mBdwfMdS1L3D0J3V+IgIhtjca1JtpQSFF+A3bT+AV0APTnFj3ZRpnMxCnpIPG8EUR0tL0IQ0lN21FXHEiV/bAdwzqX5MpIapT/CuTRhpFg7en+DObL8IvFLHNYjkCiRtSKqdm1U1lTFigxZwxYJx6TO3a7fs/7sQJHgryiO7CfDbulXul9z+EBkRSs5ojfeAU/stpgBDgX3TnGbuhBWBGKZ4zeCA5E7L5DSYoEcejdKLJkZxHk238EbVJ/f5yqnAX7qnmondZFMeZs0qfsVsaYAxesynRWzRKydiiQeGpso1Ih33FQxpwzgb+kVUdiSv10WeJgI=', 'revenue': '10kk', 'delete_decryptor': True, 'type': 25, 'max_file_size': None, 'created_at': '2024-12-18 20:05:23'}, 'key': None, 'comment': 'Hello', 'company_website': 'example.com', 'revenue': '10kk', 'running_one': '1', 'quiet_mode': '0', 'delete_decryptor': False, 'not_randomize_keys': '0'}",2024-12-18 20:05:23,<NA>
1,2,2,25,"{'buildModel': {'id': '2', 'parent_id': 0, 'status': None, 'decription_id': None, 'userid': 1, 'stealerid': None, 'key_id': 0, 'comment': 'qwe', 'master_pubkey': None, 'master_privkey': None, 'date': 1734552620, 'company_website': 'qwe.com', 'crypted_website': 'Cq3SpsXpd9Kc9CjFNh2iNU1OrF3gOOM+uM/6Ai9gEM0vUcXrI+xyf12DplHTlJ8CNNHOnJgbikhwLYrlvxv3fEkK1hO35QHmU+qtcZVVRtQtuFkUBkg9TpWGNmG5kel7qUayg1u/OS1g+Ct+AaFr4wPuPfR+8VYf5vEiVIFtCiXQHUoBmID/2B10DXgpy9Gy5IoH6PzwlYLHRIJTjfQ2M5IrqG3v3syShUqeLZFETyYou11/mtsTd9GRMcAthGORatJHm8oGUDxE0AA0mvOjPEqypBNsCErcr6QOtQzJVic0iYdhqCa64Tm0Coy3tSw6HzuglHR+6cnC6mor3YGrA6UsdSJLBcMWrx5GDoFHlpK2ad+STfhLb4Mn9dslpfxY6iaNfAYuRugGclLM7stnHDGR3AFg9elSu6geyxSBuabm5za4I6/pfs/inKRTByiG2+SCIREvSiPixCS9ACz0RovvJCr31k3naMB7LmOWChg1Gbz5JYyrvf+X3hzJNTBSLlCNBQgiqacOwzFgKXMVN8FOOXKY0vfqO3w18VlbHfX9QXSi2BsonMnXUKZmpFuTJNYtH7AUwpbEmOqEdQxwbVosQIx/vLHhp59Z4yhUzwami97QdxFsQElAfGwjmKQl0UT/4zfJ3Tcc60pvK/3yKeRkgoyyoDFESxe1MFOSnqE=', 'revenue': '123kk', 'delete_decryptor': True, 'type': 25, 'max_file_size': None, 'created_at': '2024-12-18 20:10:20'}, 'key': None, 'comment': 'qwe', 'company_website': 'qwe.com', 'revenue': '123kk', 'running_one': '1', 'quiet_mode': '0', 'delete_decryptor': False, 'not_randomize_keys': '0'}",2024-12-18 20:10:20,<NA>

,id,build_id,build_type,config,created_at,updated_at
1181,1182,1182,25,"{'buildModel': {'id': '1182', 'parent_id': 0, 'status': None, 'decription_id': None, 'userid': 69, 'stealerid': None, 'key_id': 0, 'comment': 'hz', 'master_pubkey': None, 'master_privkey': None, 'date': 1745862598, 'company_website': 'arc-com.com', 'crypted_website': 'FtTd/xQeXxVWDHibc5wvBeK2wIdKzX9Q/nlAq3z7sPdelWggZ+Y4LAXrEuCOe4o/xkwCSZ9VZsFX5yReiPpyl2U+zV+y9jOQy7H1OBI8L9tWvIbd4ms10lTp7iZPju1Zm2ekOXw/Pp2XYjzNwowvVbmuSvW5UFHBrf+BaU42N/dTk+2Ax29Cko3x9Ht8//HdWb2FNUApqmZDfSg+S+aKcFhrXSpIuSfKqj00J6vYOdbiLT7UAqURWYgEMpBNDATZhqIkM2qYBkHjVCk7H6LsGZBlwR0uhUluBqEA9DlVu/87v38GXMJXrF7MnT9be9e1HBvYG64tHjXQVYOEK6aKfnXLVRzcaEtOlGSprAKyS56AYybPLJvpQrfYsAAjgsZWIcFuOLH0vGvXgvM2k//N+UDWsCDfqooy/QetW7lzLKGEn6Ykc5NED8k6LtUiCPmJtvSd8GkCPJv4Ayc5sKgRsVb+xQ95viVPNE+XbdluySlufCa6yQ8AA/WjcJo3W16MikdWs8xIYHh1t30ryA0TPitOy09z7S+BYMHpbzzUESSUE3sYKMVggzN+HAt+tBQ1slpEQehysWXkgkKtCiGIJz9m6zNftFW8rM7LR5kq5rmUUcPKhEdelJlJt3DAq33ZExpSM4Jiy7KY/Wa2QCw7o61eeHwO+CGiHuHku9CPuDA=', 'revenue': '11kk', 'delete_decryptor': True, 'type': 25, 'max_file_size': None, 'created_at': '2025-04-28 17:49:58'}, 'key': None, 'comment': 'hz', 'company_website': 'arc-com.com', 'revenue': '11kk', 'running_one': '0', 'quiet_mode': '0', 'delete_decryptor': False, 'not_randomize_keys': '0'}",2025-04-28 17:49:58,<NA>
1182,1183,1183,30,"{'buildModel': {'id': '1183', 'parent_id': 0, 'status': None, 'decription_id': None, 'userid': 69, 'stealerid': None, 'key_id': 0, 'comment': 'hz', 'master_pubkey': None, 'master_privkey': None, 'date': 1745862644, 'company_website': 'arc-com.com', 'crypted_website': 'IM5cRgg75iZQylIXU9laprVIpD4K9QdOu/BTDeaPS0v5N3ErrbAtau41mFXw7HXNXoSdooI91Vm2Di5B494etelVZHvkll23K4aMyQo+o1Kxu+q8sWy/ONG7oVMxOvf39FkqJGEb75L73yx1Gjn7JGmgIa4yC4rATweaG+cXurp4gWDAag8fIhHRMxRumZR4SvwoIkfnM/Q4VZ0S8/ybBLVLKa9CS3ALW8eqt13FCjmbFArjNme9An2dnpQMK11A9L90tDLCOyiXJwVCIYyo78ywrAyikKz6Gxl0nJuEY54q0nQSIbc6BVe1Z74z7jNfBmSKArdb0mGtOwTt8r2j+4wXXaDotGilKqbYm6Kpo1l4K6g2KfveT88Bu+yB7ozKQsnV4Jfkf9wsmHRYBk6/CXWvhXH+3LuDYWQ3HlcN+LTu9QFyvTp+YeeOYHS0rIBnQbqv4IhAopT05CtaE/gZrbSH5F4ixoMTDPtwHwYErXUJzFS8hE65z6XeGMzzn4GUHV1zn1PVdQ6eSsLPSoe788T2TQ6vpAmRRn5oOtPRKApNiqgueS3/y5VsmyW3nu5tvyBc/Y/1Y0o9bkpp2UJut2gTMYcjiJu7liSjiDxHvdXtCiZaTGLKaoLTemUrU7Hwt4M9/8Y7ZC4yAflJ43U/F0O0PxW+bUu8h58a1d5Jy90=', 'revenue': '11kk', 'delete_decryptor': True, 'type': 30, 'max_file_size': None, 'created_at': '2025-04-28 17:50:44'}, 'key': None, 'revenue': '11kk', 'comment': 'hz', 'company_website': 'arc-com.com', 'encrypt_mode': False, 'encrypt_filename': False, 'impersonation': '0', 'language_check': '0', 'local_disks': '1', 'network_shares': '1', 'kill_processes': '1', 'kill_services': '1', 'running_one': '0', 'print_note': '1', 'set_wallpaper': '1', 'set_icons': '0', 'spread_enabled': '0', 'send_report': False, 'delete_eventlogs': '1', 'self_spread': '1', 'self_destruct': '0', 'kill_defender': '1', 'wipe_free_space': '1', 'skip_hidden_folders': '0', 'shutdown_system': '0', 'gpo_ps_update': '1', 'impers_accounts': '', 'white_folders': '$recycle.bin;config.msi;$windows.~bt;$windows.~ws;windows;appdata;application data;boot;google;mozilla;program files;program files (x86);programdata;system volume information;tor browser;windows.old;intel;msocache;perflogs;x64dbg;public;all users;default', 'white_files': 'autorun.inf;boot.ini;bootfont.bin;bootsect.bak;desktop.ini;iconcache.db;ntldr;ntuser.dat;ntuser.dat.log;ntuser.ini;thumbs.db', 'white_extens': '386;adv;ani;bat;bin;cab;cmd;com;cpl;cur;deskthemepack;diagcab;diagcfg;diagpkg;dll;drv;exe;hlp;icl;icns;ico;ics;idx;ldf;lnk;mod;mpa;msc;msp;msstyles;msu;nls;nomedia;ocx;prf;ps1;rom;rtp;scr;shs;spl;sys;theme;themepack;wpx;lock;key;hta;msi;pdb', 'white_hosts': '', 'delete_gpo_delay': '60', 'kill_processes_list': 'sql;oracle;ocssd;dbsnmp;synctime;agntsvc;isqlplussvc;xfssvccon;mydesktopservice;ocautoupds;encsvc;firefox;tbirdconfig;mydesktopqos;ocomm;dbeng50;sqbcoreservice;excel;infopath;msaccess;mspub;onenote;outlook;powerpnt;steam;thebat;thunderbird;visio;winword;wordpad;notepad', 'kill_services_list': 'vss;sql;svc$;memtas;mepocs;msexchange;sophos;veeam;backup;GxVss;GxBlr;GxFWD;GxCVD;GxCIMgr'}",2025-04-28 17:50:44,<NA>

Exported df_chats with 4121 records

,id,advid_owner,advid,clientid,flag,date,content,is_file,real_filename,filename,readed,created_at,updated_at,readed_at
0,66,10,10,24,0,1734583524,"You can attach a few files for test decryption by packing them into an archive with zip, rar, tar, 7zip, 7z, tar.gz extensions of no more than 10 megabytes using the attach button directly in the chat.\r\n\r\nIf your archive weighs more than 10 megabytes, please use our file sharing service.\r\nhttp://lockbitfss2w7co3ij6am6wox4xcurtgwukunx3yubcoe5cbxiqakxqd.onion\r\nhttp://lockbitfsvf75glg226he5inkfgtuoakt4vgfhd7nfgghx5kwz5zo3ad.onion\r\nhttp://lockbitfskq2fxclyfrop5yizyxpzu65w7pphsgthawcyb4gd27x62id.onion\r\nFor security reasons we do not click on other links you send in chat.\r\nPlease wait for a reply, sometimes it takes several hours due to possible time zone differences.",0,<NA>,<NA>,1,2024-12-19 04:45:24,<NA>,2024-12-19 05:39:24
1,67,10,10,24,0,1734586509,,1,realchristmasglobe.zip,d43a1040c42f6770eec90c31a3fb88bf6763b08d1b313.zip,1,2024-12-19 05:35:09,<NA>,2024-12-19 05:39:24

,id,advid_owner,advid,clientid,flag,date,content,is_file,real_filename,filename,readed,created_at,updated_at,readed_at
4119,4403,25,25,266,1,1745665786,yes,0,<NA>,<NA>,1,2025-04-26 11:09:46,<NA>,2025-04-26 11:09:53
4120,4404,25,25,266,0,1745665803,"\nThere are three situations where the suffix is incorrect. 1: The file itself is not encrypted. We can directly delete the suffix and the file can be used, or change it to the correct suffix and decrypt it without affecting its use. 2: When the encryption of a file is correct, we need to change its abnormal suffix to a normal one to decrypt it correctly. After the file is decrypted, it is normal. 3: If the file encryption process stops and the file is damaged, and we change it to a normal suffix,\nit will not be decrypted either, because the file itself is not fully encrypted and its encrypted information is incomplete, so it will not be decrypted",0,<NA>,<NA>,1,2025-04-26 11:10:03,<NA>,2025-04-26 11:16:38

Exported df_clients with 246 records

,id,important,advid,master_pubkey,session_key,paid_commission,trial_done,decrypt_done,decrypt_2_done,decrypt_3_done,...,views,date_first,date_last,toxid,toxdata,session_pub,session_priv,last_download,created_at,build_id
0,24,0,10,8FCED3A3A04F1E01,2870FCC45D45DBA2,1,0,0,0,0,...,342,1734583516,1745242838,<NA>,<NA>,<NA>,<NA>,1742991452,2024-12-19 04:45:16,27
1,25,0,18,5150CB33290ED8C9,69863FA6BED7B04C,0,0,0,0,0,...,118,1734645754,1736576098,<NA>,<NA>,<NA>,<NA>,0,2024-12-19 22:02:34,36

,id,important,advid,master_pubkey,session_key,paid_commission,trial_done,decrypt_done,decrypt_2_done,decrypt_3_done,...,views,date_first,date_last,toxid,toxdata,session_pub,session_priv,last_download,created_at,build_id
244,280,0,70,C2D2C433E68F18FF,204744F7F81640CD,0,0,0,0,0,...,4,1745876927,1745876931,<NA>,<NA>,<NA>,<NA>,0,2025-04-28 21:48:47,1126
245,281,0,70,2FE769EF9A8FC1F4,9C0CA47F26C5BDF8,0,0,0,0,0,...,52,1745912903,1745918318,<NA>,<NA>,<NA>,<NA>,0,2025-04-29 07:48:23,1179

Exported df_events with 0 records

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Exported df_events_seen with 0 records

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Exported df_faq with 1 records

  id    title                 description        date
0  1  Soon...  &lt;p&gt;Soon...&lt;/p&gt;  1734551432

  id    title                 description        date
0  1  Soon...  &lt;p&gt;Soon...&lt;/p&gt;  1734551432

Exported df_files with 1015 records

,id,adv_id,client_id,build_id,message_id,path,filename,downloads,status,created_at
0,1,2,0,0,0,20241218/211413_135c23.zip,LBB_tes************_BD402B0FC18C33C5_18.12.24_testbyosama.zip,1,1,2024-12-18 21:14:13
1,2,2,0,0,0,20241218/211447_d05cf6.zip,LBG_tes************_E1167D3C6A58DC35_18.12.24_testbyosamacom.zip,1,1,2024-12-18 21:14:47

,id,adv_id,client_id,build_id,message_id,path,filename,downloads,status,created_at
1013,1014,69,0,0,0,20250428/175015_9aecbc.zip,LBG_arc************_3D6BC7D9FD38F3CB_28.04.25_hz.zip,1,1,2025-04-28 17:50:15
1014,1015,69,0,0,0,20250428/175047_cd45d5.zip,LBB_arc************_1D7BA2E55D637843_28.04.25_hz.zip,1,1,2025-04-28 17:50:47

Exported df_invites with 3693 records

,id,invite,order,btc_wallet,monero_wallet,amount,status,created_at
0,1,bb2d1eeae1462971a0251fdf92e79bff18e7f326,<NA>,bc1qvv7ud7t4fvu9u7khvx3v2l0gnfm6cfal463ezy,<NA>,0.007558,50,2024-12-18 20:01:42
1,2,5f8d9d4c2b02fee11550c6dcc1310076b6b94553,<NA>,bc1qm7m7lacj086hg5pwqdywlpjr0m5kh8q9fqawgq,<NA>,0.007559,50,2024-12-18 20:03:54

,id,invite,order,btc_wallet,monero_wallet,amount,status,created_at
3691,3692,8f3f78a07844d0300839f63898296d1429732b16,<NA>,<NA>,8AwCukaz4LXW5V6GReJyUADUwdSagSKaFAXoJmfMyJh2KuWKgerAmnGi42csvUXiETMwCGZz1aZ9UZCSTky7AzjL3PiZcga,2.782453,0,2025-04-29 08:56:57
3692,3693,c60b561787233e7ddb41c34ff22d58452f1f366c,<NA>,bc1qhpu92q2k8ytscupels800yas8698wweep307cy,<NA>,0.008191,0,2025-04-29 13:11:11

Exported df_jobs with 0 records

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Exported df_migrations with 34 records

  id      name           created_at
0  1  20220407  2022-04-07 21:16:43
1  2  20220424  2022-04-24 16:33:37

    id                                        name           created_at
32  33  20240918_133800_add_crypted_site_to_builds  2024-12-18 19:42:13
33  34                      add_invite_id_to_users  2024-12-18 19:42:13

Exported df_news with 5 records

,id,title,description,date
0,1,LockBit 4.0 - released.,&lt;p&gt;LockBit 4.0 - released.&lt;/p&gt;,1734551660
1,2,File share &amp; Private note,&lt;p&gt;File share service:&lt;/p&gt;&lt;p&gt;lockbitfskq2fxclyfrop5yizyxpzu65w7pphsgthawcyb4gd27x62id.onion&lt;br /&gt;lockbitfsvf75glg226he5inkfgtuoakt4vgfhd7nfgghx5kwz5zo3ad.onion&lt;br /&gt;lockbitfss2w7co3ij6am6wox4xcurtgwukunx3yubcoe5cbxiqakxqd.onion&lt;/p&gt;&lt;p&gt;Private note service:&lt;/p&gt;&lt;p&gt;lockbitpn4nmflibn4cooh4sydie6bpoy33tbxa3rjebryxc5vblkwyd.onion&lt;br /&gt;lockbitpn7doehfdzu3r2orcibdx6njq62aavkr4hgh3p6rednr5gfad.onion&lt;br /&gt;lockbitpntsng25yxacx5jqdccvoqd5qtyzzximljfskvtk6ektjhvad.onion&lt;/p&gt;,1734559382

,id,title,description,date
3,5,Reverse engineering impossible,&lt;p&gt;Reverse engineering impossible - proof: https://elis531989.medium.com/green-with-evil-analyzing-the-new-lockbit-4-green-7f5783c4414c&lt;/p&gt;,1736971662
4,6,LITE PANEL,"&lt;p&gt;Want a lamborghini, a ferrari and lots of titty girls? Sign up and start your pentester billionaire journey in 5 minutes with us.&lt;br /&gt;http://lockbitapyx2kr5b7ma7qn6ziwqgbrij2czhcbojuxmgnwpkgv2yx2yd.onion&lt;br /&gt;http://lockbitapyum2wks2lbcnrovcgxj7ne3ua7hhcmshh3s3ajtpookohqd.onion&lt;br /&gt;http://lockbitapp24bvbi43n3qmtfcasf2veaeagjxatgbwtxnsh5w32mljad.onion&lt;br /&gt;http://lockbitapo3wkqddx2ka7t45hejurybzzjpos4cpeliudgv35kkizrid.onion&lt;br /&gt;http://lockbitapiahy43zttdhslabjvx4q6k24xx7r33qtcvwqehmnnqxy3yd.onion&lt;/p&gt;",1743344681

Exported df_pkeys with 30000 records

,id,type,decryption_id,public_key,extra,status,created_at,updated_at
0,1,25,E26CE2BB152D23E4,0x636f6e7374657870722065787465726e2022432220756e7369676e65642063686172206d5f7075626c5b33325d203d207b307861312c20307835662c20307833662c20307864312c20307864642c20307835632c20307837352c20307838372c20307863322c20307862662c20307866622c20307830382c20307866322c20307832352c20307831632c20307863312c20307836302c20307832382c20307833312c20307832372c20307834632c20307834332c20307836622c20307834342c20307838392c20307835612c20307837352c20307866382c20307865382c20307838332c20307839322c20307834627d3b,0x5b5d,1,2024-12-18 21:11:16,2024-12-18 21:11:33
1,2,25,7C0CFD5FED7419ED,0x636f6e7374657870722065787465726e2022432220756e7369676e65642063686172206d5f7075626c5b33325d203d207b307836652c20307836642c20307863302c20307865342c20307862382c20307862662c20307836642c20307866392c20307833332c20307830642c20307839652c20307838332c20307836392c20307862642c20307831632c20307862332c20307862632c20307831622c20307832392c20307866652c20307864312c20307838612c20307838352c20307836622c20307837622c20307865612c20307837632c20307865652c20307837392c20307864312c20307864622c20307836387d3b,0x5b5d,1,2024-12-18 21:11:16,2024-12-18 21:11:50

,id,type,decryption_id,public_key,extra,status,created_at,updated_at
29998,29999,46,6D961E5D023EE2EF,0x36443936314535443032334545324546303330344641324130323434394431454339423632313130454532333936453246323837463838433346344331423741,0x7b22657874656e73696f6e223a223539363039393141227d,0,2024-12-18 21:13:38,<NA>
29999,30000,46,1CBD83B2F17CD1C0,0x31434244383342324631374344314330343242314331464530433338354641453237443942314132394542393234333833454638443031463730334634463334,0x7b22657874656e73696f6e223a223242613731373362227d,0,2024-12-18 21:13:38,<NA>

Exported df_socket_messages with 5339 records

,id,adv_id,client_id,request_data,created_at
0,33539,0,266,0x7b2274797065223a22636c69656e74222c22616374696f6e223a22616c6c72656164227d,2025-04-22 13:26:53
1,33540,0,266,0x5b5d,2025-04-22 13:31:08

,id,adv_id,client_id,request_data,created_at
5337,38876,0,263,0x7b2274797065223a22636c69656e74222c22616374696f6e223a22616c6c72656164227d,2025-04-29 13:09:25
5338,38877,0,279,0x7b2274797065223a22636c69656e74222c22616374696f6e223a22616c6c72656164227d,2025-04-29 13:24:47

Exported df_system_invalid_requests with 2951 records

,id,adv_id,client_id,path,request,invalid_param,type,created_at,seen,message,file,line
0,1,2,<NA>,/page/alert,[],<NA>,1,2024-12-18 19:56:00,2024-12-18 22:06:09,,/home/www/backend/backend/web/router.php,99
1,2,2,<NA>,/page/alert,[],<NA>,1,2024-12-18 20:11:40,2024-12-18 22:06:09,,/home/www/backend/backend/web/router.php,99

,id,adv_id,client_id,path,request,invalid_param,type,created_at,seen,message,file,line
2949,3244,70,<NA>,/ajax/builder,"{'post': {'type': '46', 'comment': 'FORTREX', 'company_website': 'fortrex.hu', 'revenue': '5kk', 'kill_processes_list': '', 'files_to_skip': '', 'spot_size': '50', 'extensions': 'ini;conf;env;json;yaml;yml;xml;toml;log;out;err;bak;bkp;vma;tar.gz;vhdx;zip;rar;pem;crt;key;pfx;p12;exe;bat;sh;ps1;py;pl;js;cmd;dockerfile;csv;db;sqlite;sql;xlsx;xls;ods;pptx;ppt;pdf;dotx;xltx;potx;odp;tar;7z;vhd;vmdk;vbm;vbr;ovf;ova;doc;docx;txt;rtf;raw;iso;mdb;accdb;java;cpp;html;css;php;c;go;ts;app;msi;deb;rpm;eml;msg;pst;ai;psd;indd;eps;vbox;vbox-prev;snapshot;bin;vsv;exp;qcow2;img;pvm;hdd;pvs;lxc;vbk;vib;vrb;tib;tibx;tbk;d2d;bkf;b2d;avb;zvm;spf;avhdx;cdb;spb;vmx;vmsn;vswp;vmxf;vhdx.lck;nvram;tif', 'skip_folders': 'altbootbank;bin;bootbank;dev;etc;lib;lib64;opt;proc;sbin;usr;var;mbr;tardisks;tardisks.noauto;include', 'folders_to_crypt': '', 'passphrase': 'JFG234ASab', 'timeout': '', 'vm_to_skip': 'VMwarevCenter;VMware-VirtualSAN-Witness', 'note_show': '0', 'self_delete': '1', 'wipe_free_space': '1', 'wholefile': '0', 'no_scan_another_dirs': '0', 'nolog': '0', 'maximum_logs': '0', 'timeout_enabled': '0', 'folders_to_crypt_enabled': '0', 'hidden': '0', 'csrf': '6ec8357bb2bde304bbaad6d22d390aa90a133be323664cbd2fcd1f856a64f1bf'}}",<NA>,1,2025-04-28 16:52:29,<NA>,Please wait 2 seconds...,/home/www/backend/backend/routes/ajax/builder.php,64
2950,3245,<NA>,<NA>,/reg,{'post': {'c': '849b6bfa'}},<NA>,1,2025-04-29 01:50:49,<NA>,,/home/www/backend/backend/routes/reg.php,93

Exported df_testfiles with 0 records

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Exported df_users with 75 records

,id,parentid,login,password,is_admin,level,session_id,linesxi_on,reg_date,last_online,...,keep_messages_unread,toxid,toxdata,ips,permissions,paranoid_mode,created_at,updated_at,tag,invite_id
0,1,0,admin,gyCuCzeMxHpT7a5fSYRDY5DxzefrdD5g5ktiibyE,1,4,t2km45gl7n6njiapm846jsr0af23ps2l7nf618v0,1,1605453973,1745930762,...,0,A1A6D2ECC8DB18DA0D5F04C5ED01A565B5A46E4012FAE627ACCB5D709BB89477D26BE7EF852C,<NA>,<NA>,"['chats', 'write_chat', 'news', 'faq', 'lb_green', 'lb_black', 'builder_chat_generate', 'linesxi', 'builder_language_check', 'lbb_without_password']",1,31/01/2022 22:20,29/04/2025 12:46,,0
1,2,0,matrix777,81jlXQFHOdGiY8C3peSZxFUxtUKjbIhh1936k6xo,0,1,1jjhf6np9a0mk680n1gik5k99shbgjml0nfbs6et,1,1605453973,1745926182,...,0,A1A6D2ECC8DB18DA0D5F04C5ED01A565B5A46E4012FAE627ACCB5D709BB89477D26BE7EF852C,<NA>,<NA>,"['chats', 'write_chat', 'news', 'faq', 'lb_green', 'lb_black', 'builder_chat_generate', 'linesxi', 'builder_language_check', 'lbb_without_password']",1,31/01/2022 22:20,29/04/2025 11:29,,0

,id,parentid,login,password,is_admin,level,session_id,linesxi_on,reg_date,last_online,...,keep_messages_unread,toxid,toxdata,ips,permissions,paranoid_mode,created_at,updated_at,tag,invite_id
73,75,0,ExtortionLord,gRh7539syEBj0lypdgi5,0,1,eqndti1cu29u6j0668setr7m44tg9noqmua36ik2,0,1745239132,1745854002,...,0,4DEBEB92B3A547C9F0E563CA015D725D76FE47C30E482B1C42C363D10394160D93AA54DB55A9,<NA>,<NA>,"['chats', 'write_chat', 'news', 'faq', 'lb_green', 'lb_black', 'builder_chat_generate', 'linesxi', 'builder_language_check', 'lbb_without_password']",0,21/04/2025 12:38,28/04/2025 15:26,newbie,3388
74,76,0,wlteaml,v0NF9rJtCbPjy4lDh8Bn,0,1,f26137j7c4ek4evmri3c29vo9g34gkaphirleioc,0,1745317692,1745321432,...,0,3DCE1C43491FC92EA7010322040B254FDD2731001C2DDC2B9E819F0C946BDC3CD251FA3B694A,<NA>,<NA>,"['chats', 'write_chat', 'news', 'faq', 'lb_green', 'lb_black', 'builder_chat_generate', 'linesxi', 'builder_language_check', 'lbb_without_password']",0,22/04/2025 10:28,22/04/2025 11:30,newbie,3411

Exported df_visits with 2398 records

   id clientid  visit_date           created_at
0  46       24  1734583516  2024-12-19 04:45:16
1  47       24  1734586364  2024-12-19 05:32:44

        id clientid  visit_date           created_at
2396  2461      263  1745930430  2025-04-29 12:40:30
2397  2462      277  1745930964  2025-04-29 12:49:24

# Now that everything is parsed this is how you can load each .parquet

In [20]:
import pandas as pd

df_api_history = pd.read_parquet("raw_parquet/df_api_history.parquet")
df_btc_addresses = pd.read_parquet("raw_parquet/df_btc_addresses.parquet")
df_builds = pd.read_parquet("raw_parquet/df_builds.parquet")
df_builds_configurations = pd.read_parquet("raw_parquet/df_builds_configurations.parquet")
df_chats = pd.read_parquet("raw_parquet/df_chats.parquet")
df_clients = pd.read_parquet("raw_parquet/df_clients.parquet")
df_events = pd.read_parquet("raw_parquet/df_events.parquet")
df_events_seen = pd.read_parquet("raw_parquet/df_events_seen.parquet")
df_faq = pd.read_parquet("raw_parquet/df_faq.parquet")
df_files = pd.read_parquet("raw_parquet/df_files.parquet")
df_invites = pd.read_parquet("raw_parquet/df_invites.parquet")
df_jobs = pd.read_parquet("raw_parquet/df_jobs.parquet")
df_migrations = pd.read_parquet("raw_parquet/df_migrations.parquet")
df_news = pd.read_parquet("raw_parquet/df_news.parquet")
df_pkeys = pd.read_parquet("raw_parquet/df_pkeys.parquet")
df_socket_messages = pd.read_parquet("raw_parquet/df_socket_messages.parquet")
df_system_invalid_requests = pd.read_parquet("raw_parquet/df_system_invalid_requests.parquet")
df_testfiles = pd.read_parquet("raw_parquet/df_testfiles.parquet")
df_users = pd.read_parquet("raw_parquet/df_users.parquet")
df_visits = pd.read_parquet("raw_parquet/df_visits.parquet")